.footer
    padding-bottom: 50px
    &_wrapper
        display: flex
        justify-content: space-between
        width: 100%
        flex-wrap: wrap-reverse
        @include maxw($lg-mob)
            justify-content: start
        a
            @include adaptiv-font(16, 12)
            color: #616161
            text-decoration: none
            @include adaptiv-value("margin-top", 16, 5, 0)
            display: block
            &:hover
                color: $main-color
    &-item
        margin-right: 30px
        &:last-child
            margin-right: 0
        @include maxw($lg-mob)
            margin-right: 20px

    &-title
        @include adaptiv-value("margin-top", 80, 30, 0)
        font-weight: 700
        color: #000
    &-about
        display: block
        width: 25%
        height: auto
        @include maxw($lg-mob)
            width: 80%

        a
            img
                margin-right: 1rem
    &-descr
        font-weight: 400
        @include adaptiv-font(16, 12)
        color: #616161
        @include maxw($lg-mob)
            width: 80%
        @include maxw($mob)
            width: 100%
    &-email
        form
            display: flex
            @include adaptiv-value("height", 50, 40, 0)
            @include adaptiv-value("margin-top", 20, 10, 0)

        input
            width: 210px
            background: #F4F5F7
            border: none
            padding-left: 0.5rem
        button
            background: none
            border: none
            cursor: pointer
            img
                height: 100%
                width: auto
            &:hover
                opacity: 0.8
    ul
        list-style-type: none
        margin-left: -38px
        margin-bottom: 0
