.inspiration
    display: flex
    justify-content: space-between
    background-color: #FCF8F3
    @include adaptiv-value("padding-top", 50, 20, 0)
    padding-bottom: 50px
    @include maxw($sm-pc)
        flex-wrap: wrap

    &_block
        display: inline-block
        position: relative
        margin-left: 8rem
        @include minw($sm-pc)
            margin-left: 6rem
        @include maxw($sm-pc)
            margin: 0 auto
            text-align: center
            width: 55%
        @include maxw($sm-tablet)
            width: 70%
        @include maxw($lg-mob)
            width: 90%

        .title, .subtitle
            width: 80%
            @include maxw($sm-pc)
                width: 100%
                text-align: center
        .title
            margin-left: 0
            text-align: left
            margin-bottom: 0
            @include maxw($sm-pc)
                text-align: center
        .subtitle
            margin-top: 1rem
    &-more
        @include adaptiv-value("width", 180, 150, 0)
        margin-top: 35px
    &_carousel
        width: 55%
        position: relative
        @include maxw($sm-pc)
            width: 100%
            margin-top: 30px

    &-slide
        width: 100%
        height: auto
    .s1
        transform: translateX(-270px)
        @include maxw($lg-mob)
            transform: translateX(0)
    .slick-slide
        @include adaptiv-value("height", 580, 320, 0)
        @include adaptiv-value("width", 400, 200, 0)
    .slick-slide
        padding: 0 10px 0 10px
    .slick-next, .slick-prev
        position: absolute
        width: 50px
        bottom: -25%
        border: none
        background: none
        cursor: pointer
        img
            width: 48px
            height: 48px
    .slick-prev
        opacity: 0
        @include maxw($sm-pc)
            opacity: 1
            z-index: 4
            left: 0
    .slick-dots
        left: 50%
        top: 97%
        @include maxw($sm-pc)
            left: calc( 50% - 70px )
