.promo
    padding-top: 180px
    background: url(../img/promo/bg.jpg) center center/cover no-repeat
    background-position: 68% 0%

    &_offer
        position: absolute
        z-index: 2
        @include adaptiv-value("width", 380, 250, 0)
        @include adaptiv-value("height", 470, 300, 0)
        @include adaptiv-value("padding", 50, 20, 0)
        background: rgba(255, 255, 255, 0.72)
        backdrop-filter: blur(10px)
        @include maxw($sm-tablet)
            position: relative
            margin: 0 auto

    &-descr
        font-weight: 500
        @include adaptiv-font(18, 13)
        color: #898989
        margin-top: 1rem
    &-button
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        @include adaptiv-value("height", 78, 40, 0)
        @include adaptiv-font(20, 12)
        @include adaptiv-value("margin-top", 50, 20, 0)
    &_slider
        margin-top: 180px
        @include adaptiv-value("height", 550, 190, 0)
        @include maxw($sm-tablet)
            margin-top: 50px

    &_info
        position: relative
        @include adaptiv-value("width", 240, 100, 0)
        @include adaptiv-value("height", 100, 50, 0)
        background: rgba(255, 255, 255, 0.72)
        backdrop-filter: blur(15px)
        z-index: 2
        @include adaptiv-value("padding", 24, 10, 0)
        right: -65%
        transform: translateY(-120%)
        @include maxw($tablet)
            right: -75%
        @include maxw($sm-tablet)
            transform: translateY(-190%)
            right: -55%

    h3
        @include adaptiv-font(20, 12)

    p
        @include adaptiv-font(12, 8)
        color: #616161
        line-height: 0px
    .info-prise
        font-weight: 700
        color: $text-color
        @include adaptiv-font(14, 10)
        margin: 0
        &-arrow
            display: flex
            justify-content: space-between
            align-items: center
            @include adaptiv-value("margin-top", 20, 0, 0)
    .info-arrow
        width: 20%
        img
            width: 100%
    &_carousel
        position: relative
        width: 100%
        margin: 0 auto
    &-slide
        // height: 550px
        height: 100%
        width: 100%
        margin: 0 auto
    .s1
        transform: translateX(160px)
        @include maxw($sm-tablet)
            transform: translateX(0px)

    .slick-slide
        @include adaptiv-value("height", 550, 190, 0)
        @include adaptiv-value("width", 930, 290, 0)

.slick-slide
    padding: 0 20px 0 20px

.slick-prev, .slick-next
    position: absolute
    border: none
    background: none
    cursor: pointer
    top: -20%
    left: 90%
    img
        width: 48px
        height: 48px
    &:hover
        opacity: 0.8
.slick-prev
    left: calc(90% - 70px)

.slick-dots
    list-style-type: none
    display: flex
    justify-content: center
    position: absolute
    top: -20%
    // padding-left: 0
    left: 50%
    padding-inline-start: 0px !important
    @include maxw($sm-tablet)
        width: 100%
        top: 110%
        left: calc( 50% - 55px )
        position: static

    button
        font-size: 0px
        position: static
        width: 11px
        height: 11px
        border-radius: 100%
        left: 47px
        top: 8px
        background: #D8D8D8
        border: none
        margin: 0px 10px
        cursor: pointer

        &:hover
            background: $main-color
.slick-active
    button
        background-color: $main-color
