.tips
    // background-color: $main-color
    &_carousel
        width: 100%
        position: relative
        margin-bottom: 4rem
        &_slide
            width: 390px
            height: 250px
        &_title
            display: block
            background-color: #fff
            padding: 1px 0 0 0
            h3
                margin-left: 0.8rem
                font-weight: 600
                font-size: 1.3rem
                color: $text-color
                line-height: 28px
            span
                font-weight: 400
                font-size: 14px
                color: #898989
    .s1
        &:hover
            box-shadow: 10px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.22)
    .slick-dots
        transform: translateX(320%)
        top: 100%
